body {
  background-color: aqua;
}

.iResult {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-input {
  width: 200px;
}

.custom-btn {
  background-color: #67108a;
  color: whitesmoke;
}

.custom-btn:hover {
  background-color: #bf40f1;
  color: whitesmoke;
}

.custom-btn:active {
  background-color: #bf40f1;
  color: whitesmoke;
}

.interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
